*NOTE* This information can easily get out of date.

Whats Needed in the Scene for a Working Game

GameObjects:
- GameManager (Spawns ClientSingleton, Player and Player's starting City
- ClientSingleton (Contains all HUD UI)
- Player GO - navigates world. Must have both build and command tools


Layers:
- Terrain must be map layer (13)

Baked Navmesh